@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
}

/* NAVBAR */

.logo {
    width: 10rem;
}
 
/* NAV LINKS */

.nav-link {
    cursor: pointer;
    letter-spacing: 0.0375rem;
    text-transform: uppercase;
    color: white !important;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    border-top: 0.125rem solid rgb(33, 37, 41);

}
.nav-link:focus {
    border-top: 0.125rem solid orange;
}

/* HEADER */

.header-wraper {
    position: relative;
    background: url('/src/laptop-background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-info h1 {
    color: rgb(255, 184, 53);
    text-transform: uppercase;
}

.typed-text {
    font-size: 2rem;
    color: white;
}

.btn {
    border: 2px solid rgb(241, 179, 97) !important;
    background-color: transparent !important;
}

.btn:hover {
    background-color: red !important;
}

.btn:focus {
    background-color: rgb(185, 24, 137) !important;
}

.btn:active {
    background-color: rgb(255, 246, 116) !important;
}