@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
}

/* NAVBAR */

.logo {
    width: 10rem;
}
 
/* NAV LINKS */

.nav-link {
    cursor: pointer;
    letter-spacing: 0.0375rem;
    text-transform: uppercase;
    color: white !important;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    border-top: 0.125rem solid rgb(33, 37, 41);

}
.nav-link:focus {
    border-top: 0.125rem solid orange;
}

/* HEADER */

.header-wraper {
    position: relative;
    background: url('/src/laptop-background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}